	* {margin:0;padding:0;box-sizing:border-box;}


body {
	font-family: "Oswald", sans-serif;
	background-color:  #FFFFFF;
	color: #030613;
}
h1 {
	padding: 30% .1em 0em  1em;
	text-align: right;
	color: #2D3134;
	/*padding-right: 3em;*/
	font-size: 4em;
}
#slogan{
	text-align: right;
	padding: .2em 5em 0em 1em;
	font-size: 2em;
	font-style: italic;
	font-family: Vollkorn;
}


#splash {
	background-image: url("../images/nike2.jpg");

	color: #fff;
 height:80vh; 
	
}
#splash div{
	background: rgba(101,100,88,0.48);
	height:80vh;
	/*padding:3em 0 0 7em;*/
}


p, ul{
	font-family: Vollkorn;
}

.content, #about {
	margin-left: 3em;
	margin-right: 3em;
}
ul{
	margin-left: 3em;
}
h3{
	padding-top: 1em;
}
nav{
	text-align: right;
	margin-right: 1.5em;
	font-size: 1.5em;
}
link{
	padding-right: 5em;
}
